<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - DATA LOKUS KOTA BERSIH DESA TUNJUNGSEKAR"</title>
    <link rel="icon" href="/dashboard_90188.ico" type="image/x-icon" />

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav
      class="border-gray-700 bg-gray-800"
    >
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
      <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-white whitespace-pre-wrap"
            >Dashboard </span
          >
          <a href="/auth/logout">
            <button type="button" class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700">
                Logout
                </button>
          </a>
         
      </div>
    </nav>

    <div class="px-4 py-5">
        <form action="/admin/dashboard/tambah" method="GET">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mb-9">Tambah Data</button>
        </form>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nama
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <% data_lokus.forEach(function(lokus) { %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= lokus.name %>
                        </th>
                        <td class="px-6 py-4 flex">
                            <form action="/api/data_lokus/delete/<%= lokus.id %>" method="POST">
                                <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">delete</button>
                            </form>
                            <form action="/admin/dashboard/edit/<%= lokus.id %>" method="GET">
                                <button type="submit" class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:focus:ring-yellow-900">edit</button>
                            </form>                       
                        </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    </div>
    

   

</body>
</html>