<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tentang <%=title%></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/location-pin.ico" type="image/x-icon" />
  </head>
  <body class="min-h-screen bg-sky-700">
    <nav
      class="border-sky-700 bg-sky-800"
    >
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img
            src="/location-pin.ico"
            class="h-8"
            alt="Flowbite Logo"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-white whitespace-pre-wrap"
            >Tentang <%=title%></span
          >
        </a>
      
        
      </div>
    </nav>
    <div class="p-4 text-xl text-white overflow-hidden break-words">
        <%-content.replace(/\n/g, '<br>') %>
    </div>
  </body>
</html>
